FireEyeToMcAfeeTIE-Flow
[
    {
        "id": "d4cafedf.d756d",
        "type": "tab",
        "label": "FireEye To McAfee TIE",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b51461fd.9d64c",
        "type": "dxl-core-event out",
        "z": "d4cafedf.d756d",
        "name": "",
        "topic": "/vendor/fireeye",
        "client": "52426a78.e99ff4",
        "x": 840,
        "y": 200,
        "wires": []
    },
    {
        "id": "a044a6e8.718848",
        "type": "dxl-tie-set-file-reputation",
        "z": "d4cafedf.d756d",
        "name": "",
        "client": "52426a78.e99ff4",
        "trustLevel": "",
        "comment": "",
        "x": 850,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "efb295ba.4e5048",
        "type": "inject",
        "z": "d4cafedf.d756d",
        "name": "FIreEye Major",
        "topic": "",
        "payload": "{   \"product\": \"MAS\",   \"appliance-id\": \"00:00:00:00:00:00\",   \"appliance\": \"fireeye-000000\",   \"alert\": {     \"src\": {       \"url\": \"/data/share/winxp-sp3/src/41281428cd6f503f948e931d546e340c.exe\"     },     \"severity\": \"majr\",     \"alert-url\": \"https://fireeye-000000/malware_analysis/analyses?maid=146658\",     \"explanation\": {       \"malware-detected\": {         \"malware\": {           \"malicious\": \"yes\",           \"executed-at\": \"2017-05-09T14:30:25Z\",           \"md5sum\": \"41281428cd6f503f948e931d546e340c\",           \"type\": \"exe\",           \"name\": \"Trojan.LuminosityLink\"         }       }     },     \"occurred\": \"2017-05-09T14:30:25Z\",     \"action\": \"notified\",     \"id\": \"146658\",     \"name\": \"malware-object\"   },   \"version\": \"7.7.5.577562\",   \"msg\": \"concise\" }",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 100,
        "wires": [
            [
                "6d3a3e1f.e1001"
            ]
        ]
    },
    {
        "id": "bb0aed99.66aef8",
        "type": "http in",
        "z": "d4cafedf.d756d",
        "name": "",
        "url": "/fireeye",
        "method": "post",
        "upload": true,
        "swaggerDoc": "",
        "x": 110,
        "y": 280,
        "wires": [
            [
                "6d3a3e1f.e1001",
                "56ba5c2e.a16b64"
            ]
        ]
    },
    {
        "id": "6d3a3e1f.e1001",
        "type": "json",
        "z": "d4cafedf.d756d",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 310,
        "y": 60,
        "wires": [
            [
                "4a125c62.726c2c"
            ]
        ]
    },
    {
        "id": "fcf4f2ea.7e63f",
        "type": "dxl-core-event in",
        "z": "d4cafedf.d756d",
        "name": "",
        "topic": "/vendor/fireeye",
        "client": "52426a78.e99ff4",
        "payloadType": "txt",
        "x": 120,
        "y": 360,
        "wires": [
            [
                "8b01ce26.c7c14"
            ]
        ]
    },
    {
        "id": "7cc0faae.cf9e5c",
        "type": "change",
        "z": "d4cafedf.d756d",
        "name": "Unknown",
        "rules": [
            {
                "t": "set",
                "p": "payload.mcafee-rep",
                "pt": "msg",
                "to": "$replace(\t   payload.alert.severity,\t   \"unkn\",\t   \"50\"\t)\t\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 160,
        "wires": [
            [
                "69842be.29e6854",
                "b51461fd.9d64c"
            ]
        ]
    },
    {
        "id": "69842be.29e6854",
        "type": "debug",
        "z": "d4cafedf.d756d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 830,
        "y": 140,
        "wires": []
    },
    {
        "id": "1f81a62e.92cb52",
        "type": "inject",
        "z": "d4cafedf.d756d",
        "name": "FireEye Unknown",
        "topic": "",
        "payload": "{   \"product\": \"MAS\",   \"appliance-id\": \"00:00:00:00:00:00\",   \"appliance\": \"fireeye-000000\",   \"alert\": {     \"src\": {       \"url\": \"/data/share/winxp-sp3/src/41281428cd6f503f948e931d546e340c.exe\"     },     \"severity\": \"unkn\",     \"alert-url\": \"https://fireeye-000000/malware_analysis/analyses?maid=146658\",     \"explanation\": {       \"malware-detected\": {         \"malware\": {           \"malicious\": \"yes\",           \"executed-at\": \"2017-05-09T14:30:25Z\",           \"md5sum\": \"41281428cd6f503f948e931d546e340c\",           \"type\": \"exe\",           \"name\": \"Trojan.LuminosityLink\"         }       }     },     \"occurred\": \"2017-05-09T14:30:25Z\",     \"action\": \"notified\",     \"id\": \"146658\",     \"name\": \"malware-object\"   },   \"version\": \"7.7.5.577562\",   \"msg\": \"concise\" }",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 60,
        "wires": [
            [
                "6d3a3e1f.e1001"
            ]
        ]
    },
    {
        "id": "7c145cdc.a7d834",
        "type": "inject",
        "z": "d4cafedf.d756d",
        "name": "FireEye Minor",
        "topic": "",
        "payload": "{\"product\":\"MAS\",\"appliance-id\":\"00:00:00:00:00:00\",\"appliance\":\"fireeye-000000\",\"alert\":{\"src\":{\"url\":\"/data/share/winxp-sp3/src/41281428cd6f503f948e931d546e340c.exe\"},\"severity\":\"minr\",\"alert-url\":\"https://fireeye-000000/malware_analysis/analyses?maid=146658\",\"explanation\":{\"malware-detected\":{\"malware\":{\"malicious\":\"yes\",\"executed-at\":\"2017-05-09T14:30:25Z\",\"md5sum\":\"41281428cd6f503f948e931d546e340c\",\"type\":\"exe\",\"name\":\"Trojan.LuminosityLink\"}}},\"occurred\":\"2017-05-09T14:30:25Z\",\"action\":\"notified\",\"id\":\"146658\",\"name\":\"malware-object\"},\"version\":\"7.7.5.577562\",\"msg\":\"concise\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 140,
        "wires": [
            [
                "6d3a3e1f.e1001"
            ]
        ]
    },
    {
        "id": "570e8de7.15840c",
        "type": "inject",
        "z": "d4cafedf.d756d",
        "name": "Critical",
        "topic": "",
        "payload": "{\"product\":\"MAS\",\"appliance-id\":\"00:00:00:00:00:00\",\"appliance\":\"fireeye-000000\",\"alert\":{\"src\":{\"url\":\"/data/share/winxp-sp3/src/41281428cd6f503f948e931d546e340c.exe\"},\"severity\":\"crit\",\"alert-url\":\"https://fireeye-000000/malware_analysis/analyses?maid=146658\",\"explanation\":{\"malware-detected\":{\"malware\":{\"malicious\":\"yes\",\"executed-at\":\"2017-05-09T14:30:25Z\",\"md5sum\":\"41281428cd6f503f948e931d546e340c\",\"type\":\"exe\",\"name\":\"Trojan.LuminosityLink\"}}},\"occurred\":\"2017-05-09T14:30:25Z\",\"action\":\"notified\",\"id\":\"146658\",\"name\":\"malware-object\"},\"version\":\"7.7.5.577562\",\"msg\":\"concise\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 180,
        "wires": [
            [
                "6d3a3e1f.e1001"
            ]
        ]
    },
    {
        "id": "4a125c62.726c2c",
        "type": "switch",
        "z": "d4cafedf.d756d",
        "name": "FireEyeSeverity",
        "property": "payload.alert.severity",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "unkn",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "minr",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "majr",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "crit",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 360,
        "y": 220,
        "wires": [
            [
                "7cc0faae.cf9e5c"
            ],
            [
                "f00bb4b0.961e28"
            ],
            [
                "9758a579.3ab318"
            ],
            [
                "60c23720.01a9f8"
            ]
        ]
    },
    {
        "id": "f00bb4b0.961e28",
        "type": "change",
        "z": "d4cafedf.d756d",
        "name": "might_be_malicious",
        "rules": [
            {
                "t": "set",
                "p": "payload.mcafee-rep",
                "pt": "msg",
                "to": "$replace(\t   payload.alert.severity,\t   \"minr\",\t   \"30\"\t)\t\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 200,
        "wires": [
            [
                "b51461fd.9d64c",
                "69842be.29e6854"
            ]
        ]
    },
    {
        "id": "9758a579.3ab318",
        "type": "change",
        "z": "d4cafedf.d756d",
        "name": "known_malicious",
        "rules": [
            {
                "t": "set",
                "p": "payload.mcafee-rep",
                "pt": "msg",
                "to": "$replace(\t   payload.alert.severity,\t   \"majr\",\t   \"1\"\t)\t\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 240,
        "wires": [
            [
                "b51461fd.9d64c",
                "69842be.29e6854"
            ]
        ]
    },
    {
        "id": "60c23720.01a9f8",
        "type": "change",
        "z": "d4cafedf.d756d",
        "name": "known_malicious",
        "rules": [
            {
                "t": "set",
                "p": "payload.mcafee-rep",
                "pt": "msg",
                "to": "$replace(\t   payload.alert.severity,\t   \"crit\",\t   \"1\"\t)\t\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 280,
        "wires": [
            [
                "b51461fd.9d64c",
                "69842be.29e6854"
            ]
        ]
    },
    {
        "id": "8b01ce26.c7c14",
        "type": "json",
        "z": "d4cafedf.d756d",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 290,
        "y": 360,
        "wires": [
            [
                "295824d8.d3bcbc"
            ]
        ]
    },
    {
        "id": "998a84d3.91dbc",
        "type": "change",
        "z": "d4cafedf.d756d",
        "name": "FileName",
        "rules": [
            {
                "t": "set",
                "p": "fileName",
                "pt": "msg",
                "to": "$lookup(msg.payload.alert.explanation, \"malware-detected\").malware.name",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 360,
        "wires": [
            [
                "e1f8d009.5c3ca8"
            ]
        ]
    },
    {
        "id": "e1f8d009.5c3ca8",
        "type": "change",
        "z": "d4cafedf.d756d",
        "name": "Comment",
        "rules": [
            {
                "t": "set",
                "p": "comment",
                "pt": "msg",
                "to": "Reputation set via OpenDXL",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 440,
        "wires": [
            [
                "35599244.5363ce",
                "a044a6e8.718848"
            ]
        ]
    },
    {
        "id": "35599244.5363ce",
        "type": "debug",
        "z": "d4cafedf.d756d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 810,
        "y": 540,
        "wires": []
    },
    {
        "id": "7e0b4979.8d7068",
        "type": "change",
        "z": "d4cafedf.d756d",
        "name": "TrustLevel",
        "rules": [
            {
                "t": "set",
                "p": "trustLevel",
                "pt": "msg",
                "to": "payload.mcafee-rep",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 360,
        "wires": [
            [
                "998a84d3.91dbc"
            ]
        ]
    },
    {
        "id": "295824d8.d3bcbc",
        "type": "change",
        "z": "d4cafedf.d756d",
        "name": "MD5 Hash",
        "rules": [
            {
                "t": "set",
                "p": "hashes",
                "pt": "msg",
                "to": "{\"md5\":$lookup(msg.payload.alert.explanation, \"malware-detected\").malware.md5sum}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 360,
        "wires": [
            [
                "7e0b4979.8d7068"
            ]
        ]
    },
    {
        "id": "56ba5c2e.a16b64",
        "type": "debug",
        "z": "d4cafedf.d756d",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 341.5,
        "y": 300,
        "wires": []
    },
    {
        "id": "52426a78.e99ff4",
        "type": "dxl-client",
        "z": "",
        "configFile": "/data/dxl/dxlclient.config",
        "name": "",
        "keepAliveInterval": "1800",
        "reconnectDelay": "1"
    }
]
